# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

/Debug/*.tlog

/Debug/*.obj

/Debug/*.rar

/Debug/*.log

/Debug/*.pdb

/Debug/*.idb

/Debug/*.lastbuildstate
/*.sdf

*.obj

*.tlog
*.idb
*.pdb
*.lastbuildstate

/Boxia/Debug/*.log

/Debug/*.exe

/*.opensdf
